<footer class="text-center text-lg-start">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">[@spring.message "site.title"][/@]</h5>
                <p>[@spring.messageArgs code="app.version" args=[applicationVersion]][/@]</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <!-- <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="link-light">Link 1</a>
                    </li>
                </ul> -->
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <div class="row">					
	                <span>
						<a href="#!" class="link-light link-underline-opacity-0">[@mb.fa "fa-twitter" "fa-brands"][/@]</a>&nbsp;
						<a href="#!" class="link-light link-underline-opacity-0">[@mb.fa "fa-github" "fa-brands"][/@]</a>
					</span>                    
                </div>
            </div>
        </div>
    </div>
</footer>
