<div id="topMessagesBox">
	<!-- error messages -->
	[#if errorList??]
		[#list errorList as err]
	       <div class="alert alert-danger alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;${err}
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    	${errorList?api.clear}
    [/#if]
    <!-- warning messages -->
    [#if warnList??]
	    [#list warnList as warn]
	       <div class="alert alert-warning alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-exclamation"></i>&nbsp;${warn}
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    	${warnList?api.clear}
    [/#if]
    <!-- success messages -->
    [#if successList??]
	    [#list successList as success]
	       <div class="alert alert-success alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-check"></i>&nbsp;${success}
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    	${successList?api.clear}
    [/#if]
    <!-- info messages -->
    [#if infoList??]
	    [#list infoList as success]
	       <div class="alert alert-success alert-info alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-info"></i>&nbsp;${info}
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    	${infoList?api.clear}
    [/#if]
</div>
