<div id="topMessagesBox">
	<!-- error messages -->
	[#if pageMessages?? && pageMessages?api.hasErrors()]
		[#list pageMessages?api.viewErrors() as err]
	       <div class="alert alert-danger alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;[@spring.message err][/@]
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    [/#if]
    <!-- warning messages -->
    [#if pageMessages?? && pageMessages?api.hasWarnings()]
	    [#list pageMessages?api.viewWarnings() as warn]
	       <div class="alert alert-warning alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-exclamation"></i>&nbsp;[@spring.message warn][/@]
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    [/#if]
    <!-- success messages -->
    [#if pageMessages?? && pageMessages?api.hasSuccesses()]
	    [#list pageMessages?api.viewSuccesses() as success]
	       <div class="alert alert-success alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-check"></i>&nbsp;[@spring.message success][/@]
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    [/#if]
    <!-- info messages -->
    [#if pageMessages?? && pageMessages?api.hasInfos()]
	    [#list pageMessages?api.viewInfos() as info]
	       <div class="alert alert-info alert-dismissable" role="alert">
	          <span>
	             <i class="fa-solid fa-circle-info"></i>&nbsp;[@spring.message info][/@]
	          </span>
	          [@mb.alertCloseButton][/@]
	       </div>
	    [/#list]
    [/#if]
</div>
