<style>
	.chat {
		opacity: 0;
		color: white;
	}
	
	.animate-chat {
		animation: fadeInAndOut 5000ms forwards;
	}
	
	@keyframes fadeInAndOut {
		0%,100% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}
</style>
<div id="chat-${chatSettings.id}" hx-trigger="sse:trigger-chat" class="">	
</div>	
<script type="text/javascript">
	$('body').on('htmx:sseMessage', handleSSEEvent);
	$('#chat-${chatSettings.id}').on('animationend', stopAnimation);
	
	function handleSSEEvent(event) {
        let data = JSON.parse(event.detail.data);
        console.log(data);
		displayChatMessage(data.authorName, data.chatMessage, data.authorThumbnail, data.timestamp);
		doAnimation();
	}
	
	function doAnimation() {
		$('#chat-${chatSettings.id}').addClass('animate-chat');
	}
	
	function displayChatMessage(authorName, message, thumbnail, timestamp) {
		let fontSize = "${chatSettings.settings.chatTextSize}";
		let textColor = "${chatSettings.settings.chatTextColor}";
		[#noparse]
		let messageTime = new Date(timestamp / 1000).toString();
		let messageHtml = `${messageTime}&nbsp;<p class="d-flex justify-content-center" 
			   style="font-size: ${fontSize}; font-weight: bold; color: black">
			     <img src="${thumbnail}" width="32" height="32">&nbsp;${authorName}: ${message}
			</p>`;
		[/#noparse]
		let chatHtml = $('#chat-${chatSettings.id}').html();
		chatHtml += messageHtml;
		$('#chat-${chatSettings.id}').html(chatHtml);
    }
	
	function stopAnimation() {
		$('#chat-${chatSettings.id}').removeClass('animate-chat');		
	}
</script>
