<style>
	.chat {
		opacity: 0;
		color: white;
	}
	
	.animate-chat {
		animation: fadeInAndOut 5000ms forwards;
	}
	
	@keyframes fadeInAndOut {
		0%,100% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}
</style>
<div id="chatmessage-id" hx-get="[@spring.url "/chat/contents/${chatSettings.id}"][/@]" hx-trigger="sse:trigger-chat" class="">	
</div>	
<script type="text/javascript">
	$('body').on('htmx:sseMessage', handleSSEEvent);
	$('#chat-${chatSettings.id}').on('animationend', stopAnimation);
	
	function handleSSEEvent(event) {
        let data = JSON.parse(event.detail.data);
		console.log('Event Payload ID: ' + data.eventId + ' Message: ' + data.chatMessage);
	}
	
	function doAnimation() {
		$('#chat-${chatSettings.id}').addClass('animate-chat');
	}
	
	function displayChatMessage(message) {
		let fontSize = "${chatSettings.settings.chatTextSize}";
		let textColor = "${chatSettings.settings.chatTextColor}";
		let messageHtml = `<p class="d-flex justify-content-center" 
			   style="font-size: ; font-weight: bold; color: ">
			</p>`;
    }
	
	function stopAnimation() {
		$('#chat-${chatSettings.id}').removeClass('animate-chat');		
	}
</script>
