[#macro fa icon style="fas" titleText=""]
<i class="${style} ${icon}" title="${titleText}"></i>
[/#macro]

[#macro alertCloseButton]
<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="[@spring.message 'button.close'][/@]"></button>
[/#macro]

[#macro switchNoLabel name labelLookupOn labelLookupOff value extra=""]
[#if value == "true"]
	[#assign checked = "checked"]
	[#assign title]
		[@spring.message labelLookupOn][/@]
	[/#assign]
[#else]
	[#assign checked = ""]
	[#assign title]
		[@spring.message labelLookupOff][/@]
	[/#assign]
[/#if]
<div class="form-check form-switch mb-4">
	<input type="checkbox" role="switch" class="form-check-input" name="${name}" value="${value}" ${checked} title="${title}" ${extra}>
</div>
[/#macro]

[#macro serviceIcon serviceName]
[#switch serviceName]
	[#case "TWITCH"]
		[#assign sn = "twitch"]
		[#assign title]
			[@spring.message 'text.service.twitch'][/@]
		[/#assign]
		[#break]
	[#case "YOUTUBE"]
		[#assign sn = "youtube"]
		[#assign title]
			[@spring.message 'text.service.youtube'][/@]
		[/#assign]
		[#break]
[/#switch]
[@fa icon="fa-${sn!}" style="fa-brands fa-2x" titleText=title][/@]
[/#macro]

[#macro buttonIcon id icon iconType titleTextLookup="" extraClass="" extraAttributes=""]
	<button type="button" class="btn btn-light ${extraClass}" id="${id}" title="[@spring.message titleTextLookup][/@]" ${extraAttributes}>[@fa icon iconType][/@]</button>
[/#macro]

[#macro buttonText id textLookup icon="" iconType="" extraClass="" extraAttributes=""]
	<button type="button" class="btn btn-primary ${extraClass}" id="${id}" title="[@spring.message textLookup][/@]" ${extraAttributes}>[@spring.message textLookup][/@]&nbsp;[#if icon != ""][@fa icon iconType][/@][/#if]</button>
[/#macro]

[#macro buttonSubmit id textLookup icon="" iconType="" extraClass=""]
	<button type="submit" class="btn btn-primary ${extraClass}" id="${id}" title="[@spring.message textLookup][/@]">[@spring.message textLookup][/@]&nbsp;[#if icon != ""][@fa icon iconType][/@][/#if]</button>
[/#macro]

[#macro buttonCancel textLookup link extraClass="" extraAttributes=""]
	<a href="${link}" role="button" class="btn btn-light ${extraClass}" title="[@spring.message textLookup][/@]" ${extraAttributes}>[@spring.message textLookup][/@]&nbsp;[@fa 'fa-x' 'fas'][/@]</a>
[/#macro]

[#macro buttonLink id textLookup url="#" icon="" iconType="" extraClass=""]
	<a href="[@spring.url url][/@]" role="button" class="btn btn-primary ${extraClass}" id="${id}" title="[@spring.message textLookup][/@]">[@spring.message textLookup][/@]&nbsp;[#if icon != ""][@fa icon iconType][/@][/#if]</a>
[/#macro]

[#macro buttonLinkNoText id titleLookup url="#" icon="" iconType="" extraClass=""]
	<a href="[@spring.url url][/@]" role="button" class="btn btn-light ${extraClass}" id="${id}" title="[@spring.message titleLookup][/@]">[#if icon != ""][@fa icon iconType][/@][/#if]</a>
[/#macro]

[#macro inputText id name model label required extra=""]
	[@spring.bind model + "." + name][/@]
	<div class="mb-2">
	    <label for="${id}" class="form-label [#if required]required[/#if]">[@spring.message label][/@]</label>
	    <input type="text" class="form-control [#if spring.status.errorMessages?size > 0]is-invalid[/#if]" id="${id}" name="${name}" value="${spring.status.value!}" [#if required]required="required"[/#if] ${extra!}/>
	    [#if spring.status.errorMessages?size > 0]
	    	<div id="${id}-error" class="invalid-feedback">
				[#list spring.status.errorMessages as error]
					<p>${error}</p>
				[/#list]
			</div>
	    [/#if]
	</div>
[/#macro]

[#macro inputSelectForService id name model label service values messageKeyStart extra=""]
	[@spring.bind model + "." + name][/@]
	<div class="mb-2" id="${id}-div">
		<label for="${id}" class="form-label">[@spring.message label][/@]</label>
		<select id="${id}" name="${name}" class="form-select" ${extra}>
			[#list values?api.getValues(service) as value]
				<option value="${value}" [#if spring.status.value?? && spring.status.value == value]selected[/#if]>[@spring.message messageKeyStart + value][/@]</option>
			[/#list]
		</select>
	</div>
[/#macro]

[#macro inputSelectEnum id name model label values messageKeyStart extra=""]
	[@spring.bind model + "." + name][/@]
	<div class="mb-2" id="${id}-div">
		<label for="${id}" class="form-label">[@spring.message label][/@]</label>
		<select id="${id}" name="${name}" class="form-select" ${extra}>
			[#list values as value]
				<option value="${value}" [#if spring.status.value?? && spring.status.value == value]selected[/#if]>[@spring.message messageKeyStart + value][/@]</option>
			[/#list]
		</select>
	</div>
[/#macro]
