[@layout.normal]
<div class="container">
	<h1>[@spring.message "text.chat.edit"][/@]</h1>
	<form action="[@spring.url "/settings/chat/update"][/@]" method="POST" accept-charset="UTF-8">
		<input type="hidden" name="id" value="${chatSettingsModel.id}">
		[#include "chat-common-fields.html"]
		<span class="mb-4">
			[@mb.buttonSubmit id="saveButton" textLookup="button.save" icon="fa-save" iconType="fas" extraClass="me-3"][/@]	
			[#assign cancelLink]
				[@spring.url '/settings/chat/'][/@]
			[/#assign]
			[@mb.buttonCancel "button.cancel" cancelLink][/@]							
		</span>
	</form>
</div>
<script type="text/javascript" src="[@spring.url '/js/chat-settings.js'][/@]"></script>
[/@]