[#list assetList as asset]
<div class="row">
	<div class="col-2">
		<input id="select-asset-${asset.id}" type="radio" class="btn-check" name="selectedAsset" value="${asset.id}" autocomplete="off">
		<label for="select-asset-${asset.id}" class="btn btn-outline-success">[@mb.fa "fa-check fa-2x" "fas"][/@]</label>
	</div>
	<div class="col-6">
		[#if asset.description??]
			${asset.description}
		[#else]
			${asset.originalFilename}
		[/#if]
	</div>
	[#if asset.image]
		<div class="col-4">
			<img src="[@spring.url '/uploads/' + asset.uploadedFilename][/@]" alt="${asset.originalFilename}" class="img-fluid">
		</div>
	[#elseif asset.audio]
		<div class="col-4">
			<audio controls class="ratio ratio-1x1">
                <source src="[@spring.url '/uploads/' + asset.uploadedFilename][/@]" type="${asset.contentType}">
                Your browser does not support the audio element.
            </audio>
		</div>	
	[/#if]
</div>
[#else]
<div class="alert alert-info">
	<p>[@spring.message 'text.noassetsfound'][/@]</p>	
</div>
[/#list]
[#if nextPage??]
	<div hx-get="[@spring.url '/assets/' + searchType + '/' + nextPage][/@]" hx-trigger="revealed" hx-swap="outerHTML"></div>
[/#if]
