[@layout.normal]
<div class="container">
	<h1>[@spring.message "nav.manageaccounts"][/@]</h1>
	<div class="col-12">
		<div class="btn-group mt-2 mb-4">
			[#assign extraAttribs = "data-bs-toggle=\"dropdown\""?no_esc]			
			[@mb.buttonText id="linkAccountButton" textLookup="button.linkaccount" icon="fa-plus" iconType="fas" extraClass="dropdown-toggle" extraAttributes=extraAttribs][/@]
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="[@spring.url "/settings/accounts/linktwitch"][/@]">[@mb.fa "fa-twitch" "fa-brands"][/@]&nbsp;[@spring.message "button.link.twitch"][/@]</a></li>	
				<li><a class="dropdown-item" href="[@spring.url "/settings/accounts/linkyoutube"][/@]">[@mb.fa "fa-youtube" "fa-brands"][/@]&nbsp;[@spring.message "button.link.youtube"][/@]</a></li>					
			</ul>
		</div>
	</div>
	<p>[@spring.message "label.currentlinkedaccounts"][/@]:</p>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>[@spring.message "label.service"][/@]</td>
				<td>[@spring.message "label.updated"][/@]</td>
			</tr>
		</thead>
		<tbody>
			[#if accounts??]
			[#list accounts as account]
			<tr class="">
				<td style="width: 100px;">[@mb.switchNoLabel name="chatOnly" labelLookupOn="label.active" labelLookupOff="label.inactive" value=account.chatOnly?c extra='data-id="'?no_esc + account.id?no_esc + '"'?no_esc][/@]</td>
				<td style="width: 200px;">
					[@mb.buttonIcon "editButton-${account.id}" "fa-pencil" "fas" "button.edit" "btn-sm" 'data-id="'?no_esc + account.id?no_esc + '"'?no_esc][/@]
					[@mb.buttonIcon "deleteButton-${account.id}" "fa-trash" "fas" "button.delete" "btn-sm" 'data-id="'?no_esc + account.id?no_esc + '"'?no_esc][/@]
			    </td>
				<td style="width: 300px;">
					<span>
						<img src="${account.profileUrl}" width="25" height="25">&nbsp;${account.displayName}
					</span>
				</td>
				<td>${account.updated}</td>
			</tr>
			[/#list]
			[/#if]
		</tbody>
	</table>
</div>
[/@]