[@layout.normal]
<div class="container">
	<h1>[@spring.message "nav.manageaccounts"][/@]</h1>
	<div class="col-12">
		[@mb.buttonLink id="linkAccountButton" url="/settings/accounts/link" textLookup="button.linkaccount" icon="fa-plus" iconType="fas" extraClass="mb-4"][/@]
	</div>
	<p>[@spring.message "label.currentlinkedaccounts"][/@]:</p>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>&nbsp;</td>
				<td>[@spring.message "label.service"][/@]</td>
				<td>[@spring.message "label.alerttype"][/@]</td>
				<td>[@spring.message "label.updated"][/@]</td>
			</tr>
		</thead>
		<tbody>
			[#if allSettings??]
			[#list allSettings as setting]
			<tr class="[#if setting.active == false]opacity-50[/#if]">
				<td style="width: 100px;">[@mb.switchNoLabel name="active" labelLookupOn="label.active" labelLookupOff="label.inactive" value=setting.active?c extra='data-id="'?no_esc + setting.id?no_esc + '"'?no_esc][/@]</td>
				<td style="width: 200px;">
					[@mb.buttonIcon "editButton-${setting.id}" "fa-pencil" "fas" "button.edit" "btn-sm" 'data-id="'?no_esc + setting.id?no_esc + '"'?no_esc][/@]
					[@mb.buttonIcon "deleteButton-${setting.id}" "fa-trash" "fas" "button.delete" "btn-sm" 'data-id="'?no_esc + setting.id?no_esc + '"'?no_esc][/@]
					[@mb.buttonLinkNoText id="testButton-${setting.id}" titleLookup="button.testalert" url="/settings/alerts/test/${setting.id}" icon="fa-check" iconType="fas" extraClass="btn-sm"][/@]
			    </td>
				<td style="width: 100px;">[@mb.serviceIcon serviceName="${setting.service}"][/@]</tdstyle="max-width: 100px;">
				<td>[@spring.message 'text.alerts.alerttypes.' + setting.type][/@]</td>
				<td>${setting.updated}</td>
			</tr>
			[/#list]
			[/#if]
		</tbody>
	</table>
</div>
[/@]